body {
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.top-img {
  width: 100%;
  display: block;
}

.scroll-area {
  margin-top: 120px; 
  height: calc(100vh - 120px);
  overflow-y: auto;
}

.bottom-img {
  width: 100%;
  display: block;
}
